@keyframes checkboxPop {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }

  80% {
    opacity: .5;
    transform: scale(1.5) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg);
  }
}

.checkbox {
  margin-bottom: var(--lh);
}

.checkbox__input {
  position: absolute;
  opacity: 0;
}

.checkbox__label {
  position: relative;
  display: block;
  padding-left: var(--lh);
}

.checkbox__label::before,
.checkbox__label::after {
  position: absolute;
  content: '';
}

.checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-gray);
  left: 0;
  top: calc(var(--lh) / 2 - 8px);
  border-radius: var(--border-radius);
}

.checkbox__label::after {
  height: 4px;
  width: 6px;
  border-left: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  left: 5px;
  top: calc(var(--lh) / 2 - 3px);
  animation-name: checkboxPop;
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
}

.checkbox__input + .checkbox__label::after {
  content: none;
}

.checkbox__input:checked + .checkbox__label::after {
  content: '';
}

.checkbox__input:focus + .checkbox__label::before {
  outline: -webkit-focus-ring-color auto 5px;
}
