.filters__top {
  display: flex;
  align-items: flex-end;
}

.filters__input {
  width: 100%;
}

.filters__button {
  margin-left: var(--lh);
}

.filters__bottom {
  display: none;
}

.filters__bottom--active {
  display: flex;
}

.all__filter {
  margin-right: var(--lh);
}
