.article {
  display: block;
  text-decoration: none;
}

.article--private {
  background-color: var(--color-gray-light);
}

.article__url {
  text-decoration: none;
}

.article__url--unread {
  color: var(--color-secondary);
}

.article__url:hover {
  text-decoration: underline;
}

.article__meta {
  font-size: .8rem;
  color: var(--color-gray);
  display: flex;
}

.article__info {
  margin-right: calc(var(--lh) / 3);
}

.article__info:last-child {
  margin-right: 0;
}

.article__info--tags {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article__info--edit:hover,
.article__info--delete:hover {
  cursor: pointer;
}

.article__info--edit:hover {
  color: var(--color-primary);
}

.article__info--delete:hover {
  color: var(--color-error);
}
