@keyframes articleLoading {
  to {
    transform: rotate(360deg);
  }
}

.article {
  display: block;
  text-decoration: none;
  position: relative;
}

.article--private {
  background-color: var(--color-gray-light);
}

.article__loading {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.article__loading-icon {
  border-radius: 50%;
  width: calc(var(--lh) - 2px);
  height: calc(var(--lh) - 2px);
  border: 2px solid var(--color-gray-light);
  border-top-color: var(--color-primary);
  animation-name: articleLoading;
  animation-duration: calc(var(--animation-duration) * 4);
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.3, .1, .3, .85);
}

.article__url {
  text-decoration: none;
}

.article__url:hover {
  text-decoration: underline;
}

.article__url--unread {
  color: var(--color-secondary);
}
.article__meta {
  font-size: .8rem;
  color: var(--color-gray);
}

.article__metatop {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article__metabottom {
  display: flex;
}

.article__metainfo::before {
  content: '|';
  margin: 0 calc(var(--lh) / 4);
}

.article__metainfo:first-child::before {
  display: none;
}

.article__metainfo--tags {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article__cancel,
.article__delete {
  cursor: pointer;
}

.article__cancel:hover {
  color: var(--color-primary);
}

.article__separator {
  margin: calc(var(--lh) / 4);
}

.article__delete:hover {
  color: var(--color-error);
}
