.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(var(--lh) * 22);
  margin: 0 auto;
  padding: var(--lh);
  min-height: 100vh;
}

.app__header {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
}

.app__main > * {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
}

.app__footer {
  margin-top: auto;
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
}
