@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(calc(var(--lh) / 4));
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(var(--lh) * 22);
  margin: 0 auto;
  padding: var(--lh);
  min-height: 100vh;
}

.app__header,
.app__main,
.app__footer {
  animation-name: slideIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
}

.app__header {
  animation-delay: 100ms;
}

.app__main {
  animation-delay: 150ms;
}

.app__footer {
  animation-delay: 200ms;
  margin-top: auto;
}
