.add {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
}

.add--loading {
  filter: blur(calc(var(--lh) / 6));
  opacity: .5;
}

.add__options {
  display: flex;
}

.add__option {
  margin-right: var(--lh);
}
