.app {
  width: calc(var(--lh) * 22);
  height: calc(var(--lh) * 20);
  overflow: auto;
  padding: var(--lh);
}

.app__header {
  display: flex;
  justify-content: space-between;
}

.app__logo {
  display: flex;
}

.app__main {
}

